/* Styles go here */

h2, h3 {
  margin: 0 0 -.7em 0;
}

.column-layout {
  max-width: 800px;
  background-color: white;
  margin:40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 40px;
  display: flex;
}

.main-column {
  flex:3;
  order:2;
}

.sidebar-one {
  flex:1;
  order:1;
}

.sidebar-two {
  flex:1;
  order:2;
}

.call-outs-container {
  max-width:800px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', regular;
  font-size: 20px;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 30%;
}

.call-out:nth-child(1) {background-color:blue;}
.call-out:nth-child(2) {background-color:red;}


.heading 
{
  font-family: 'Roboto', regular;
  font-size: 24px;
}
.body 
{
   font-family: 'K2D', regular;
   font-size: 15px
}
.firstheading
{
  font-family: 'Roboto', regular;
  font-size: 32px;
}
.outer-box
{
  background-color: grey;
  padding: 10px;
  margin: 20px 10px;
  height: 100%;
  min-height: 300px;
}
.name
{
  color: white;
  font-family: 'Roboto', regular;
  font-size: 20px;
  margin-left: 20px;
}
.picture
{
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  float:left;
  border:1px solid black;
  
}
.bio
{
  font-family: 'Roboto';
  font-weight: 300;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:20px;
}
.squarebullet
{
  list-style-type:square
}
h1, h2
{
  color: darkred;
}
#ad
{
  float:right;
  margin-right:40px;
  max-width: 150px;
}
.btn
  {
   display: inline-block;
   color: white;
   text-decoration: none;
   padding: 1rem 2rem;
   border: white 1px solid;
   margin-top: 40px;
   opacity: 0;
   animation-name: btn;
   animation-duration: 3s;
   animation-delay: 3s;
   animation-fill-mode: forwards;
   transition-property: transform;
   transition-duration: 1s;
  }
   @keyframes btn {
    0% {opacity: 0;}
    100% {opacity: 1}

  }
  
  .btn:hover {
    transform: rotateY(180deg);
  }
.btn2
  {
   display: inline-block;
   color: black;
   text-decoration: none;
   padding: 1rem 2rem;
   border: black 1px solid;
   margin-top: 40px;
   opacity: 0;
   animation-name: btn2;
   animation-duration: 1s;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   transition-property: transform;
   transition-duration: 1s;
   font-family: Verdana;
  }
   @keyframes btn2 {
    0% {opacity: 0;}
    100% {opacity: 1}

  }
  
  .btn2:hover {
    transform: rotateY(180deg);
  }
